body{
    background-image: url(../imagenes/3\ GARE.jpg);
}
p{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

h1{
    background-color: #3f3f3f;
    margin-left: 100px;
    margin-right: 100px;
    color: white;
    font-size: 30;
    position: static;
    top: 0px;
    left: 0px;
    padding: 0px;
    margin: 10px;
    width:fit-content ;
}
.navbar {
    display: flex;
    margin-right: 10px;
    position: static;
    top: 70px;
    left: 0px;
    padding: 0px;
    margin: 0px;
    width: fit-content;

    background-color: #3f3f3f;
}
.navbar a {
   
    display: block;
    padding: 20px 20px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}
.navbar a:hover {
    background: #e60707;
}
